[Unit]
Description=Arduino Bridge RPC Socket
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/ArduinoBridge
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
